@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'DungGeunMo';
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body .overlay {
  /* display: none; */
  width: 100%;
  opacity: 0.9;
  position: fixed;
  height: 100%;
  z-index: 1;
  background: #1D1F29;
}
body .winner {
  display: none;
}
body .intro {
  /* display: none; */
}
body .modal {
  z-index: 2;
  width: 400px;
  background: white;
  left: 0;
  border-radius: 12px;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
}
body .modal_inner {
  padding: 30px;
  text-align: center;
}
body .modal_inner img {
  width: 100%;
}
body .modal_inner button {
  border: 2px solid #cea942;
  background: none;
  color: #cea942;
  font-family: 'DungGeunMo';
  font-weight: 700;
  padding: 10px 13px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  transition: all .2s;
}
body .modal_inner button:hover {
  background: #cea942;
  color: white;
}
body .modal_inner h2 {
  margin: 0;
  color: #cea942;
  font-size: 35px;
}
body .modal_inner p {
  color: #5C5E67;
  font-weight: 100;
  font-size: 19px;
}


#thumbnails {
  display: flex;
  position: absolute;
  width: 500px;
  height: 100px;
  top: calc(50% - 400px); /* 수정 */
}
#thumbnails img {
  width: 70px;
  height: 100px;
  background-color: aliceblue;
}
#thumbnails h1 {
  font-size: 40px;
  position: absolute;
  left: 100px;
  bottom: 20px;
}
#thumbnails h3 {
  position: absolute;
  left: 100px;
  top: 50px;
}
.timer {
  color: #cea942;
  position: absolute;
  top: 60px;
  font-weight: 400;
  font-size: 25px;
  right: 10px;
  z-index: 10;
}

#slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#slider .slide {
  display: flex;
}

#slider img {
  max-width: 400px;
  max-height: 300px;
  display: block;
  object-fit: cover;
} 
button {
  color: pink;
  border: none;
  padding: 10px 50px;
  font-size: 4em;
  font-family: 'DungGeunMo';
  cursor: pointer;
  background-color:transparent;
  animation: arrow 0.8s infinite linear alternate;
}
@keyframes arrow {
  0% {
      transform: scale(1.5);
  }
}
